<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Search for facebook groups</h1>
    </div>
    <%= form_tag search_path, id:"search-form", class:'form-horizontal' do %>
        <div class="form-group">
          <div class="col-sm-12">
            <%= text_field_tag :search_criteria, nil, name: 'search_criteria', class: "form-control", placeholder:'Search' %>
          </div>
        </div>
    <% end %>
  </div>
</div>