<div class="container">
      <div class="row">
        <div class="col-lg-6">
          <table>
            <thead>
            <tr>
              <th>
                Basic Plan
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                Limited Access
              </td>
              <td>
                $10.00
              </td>
            </tr>
            <tr>
              <td>
                <%=link_to "Subscribe", subscription_path(id:'basic') %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-6">
          <table>
            <thead>
            <tr>
              <th>
                Premium Plan
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                Full Access
              </td>
              <td>
                $20.00
              </td>
            </tr>
            <tr>
              <td>
                <%=link_to "Subscribe", subscription_path(id:'premium') %>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
